/* referred to VoteChain/src/components/Login/Login.module.css for style setup */

.heading {
    color: #f5cfa8;
    font-weight: 450;
    font-size: 35px;
    margin-top: 80px;
}

.backButton {
    position: absolute;
    top: 90px; /* below the navbar */
    left: 20px;
    z-index: 10;
  }
.container {
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center;     /* optional: centers vertically */
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.innerBox {
    margin:0;
    text-align: left;
    height: 75vh;
    width: 75vw;
    background-color: #312c51;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: relative; /* relative positioning -> using for formContainer */
}

.formContainer {
  background-color: #48426d;
  border-radius: 30px; /*rounds corners ;)*/
  width: 95%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* shadow */
  display: flex;
  flex-direction: row;  /* so the button is next to the form, not below */
  position: absolute; /* relative to the innerBox */
  bottom: 30px; /* 30px from the bottom of the innerBox */
}

.sendButton {
    background-color: #f0c38e !important; /* other class was overriding the color */
    color: #312c51 !important; 
    margin-left: 8px;
    height: 75%;
}

/* needed another container to control msg overflow */
.msgContainer {
    overflow-y: auto;  /* for msg overflow*/
    scroll-behavior: smooth;  /* for scrolling through msgs*/
    margin-bottom: 110px;
}

.discussionMessage div {
    margin-top: 10px; /* gaps btwn msgs */
    padding: 8px; /* padding between msg and border */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 30px;
}
