/* referred to VoteChain/src/components/Login/Login.module.css for style setup */

.container {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    background-repeat: no-repeat;
}

.innerBox {
    text-align: left;
    min-width: 480px;
    height: 95vh;
    width: 95vw;
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative; /* relative positioning -> using for formContainer */
}

.formContainer {
  border-radius: 10px; /*rounds corners ;)*/
  width: 95%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* shadow */
  display: flex;
  flex-direction: row;  /* so the button is next to the form, not below */
  position: absolute; /* relative to the innerBox */
  bottom: 30px; /* 30px from the bottom of the innerBox */
}

.sendButton {
    background-color: #8fac86;
    margin-left: 4px;
    height: 75%;
}